/* Import bootstrap styles */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css");

.form-control {
  height: 100%;
}

.container {
  max-width: 800px;
  color: black;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(74, 47, 29, 0.1);
  padding: 30px 40px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

.intro::after {
  content: '';
  display: block;
  border-bottom: 2px solid black;
  margin: 40px 0;
}

h1 {
  font-size: 22px;
  margin-bottom: 40px;
}

h2,
h3,
h4,
h5 {
  font-size: 16px;
  margin-bottom: 20px;
}

p {
  text-align: left;
}